 /* 
  var 함수에 쓰이는 변수들은
  @/assets/PGrid.css 파일에서 수정 필요
 */

.toolbar {
  background-color: royalblue;
  height: var(--toolbar-height);
}
.toolbar .left-box {
  float: left;
  height: var(--toolbar-height);
  display: flex;
  justify-content : left;
  align-items: center;
}
.toolbar .right-box {
  float: right;
  height: var(--toolbar-height);
  padding-right: 5px;
  display: flex;
  justify-content : right;
  align-items: center;
}

.mainDiv {
  overflow: auto;
}
.mainDiv table { 
  border-collapse: collapse;
  width: 100%; 
}
.mainDiv table thead tr th {
  height: var(--thead-tr-height);
  background-color: #42b983;
  opacity: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  color: lightgoldenrodyellow;
}
.mainDiv table thead tr:nth-child(2) th {
  top: var(--thead-tr-height);
}
.mainDiv table thead tr:nth-child(3) th {
  top: calc(var(--thead-tr-height) * 2);
}
.mainDiv table thead tr:nth-child(4) th {
  top: calc(var(--thead-tr-height) * 3);
}
.mainDiv table thead tr:nth-child(5) th {
  top: calc(var(--thead-tr-height) * 4);
}
.mainDiv table tfoot tr td {
  background-color: #42b983;
  opacity: 100%;
  position: sticky;
  bottom: 0;
  z-index: 1;
}
.mainDiv table tbody tr:nth-child(odd) td {
  background-color: rosybrown;
}
.mainDiv table tbody tr:nth-child(even) td {
  background-color: lightslategrey;
}
.mainDiv table tbody tr:hover td {
  background-color: rgb(155, 207, 255);
}
.mainDiv table tbody tr td.selected {
  background-color: rgb(155, 207, 255);
}
.mainDiv table tbody tr td.deleted {
  text-decoration: line-through;
}

.header-th {
  display: flex;
  justify-content : center;
  align-items: center;
}

.icon-on {
  opacity: 100%;
  color: lightgoldenrodyellow;
}
.icon-off {
  opacity: 50%;
}
.icon-off:hover {
  opacity: 100%;
}

.icon-box {
  width: 24px;
  height: 24px;
}