 /* 
  var 함수에 쓰이는 변수들은
  @/assets/PGrid.css 파일에서 수정
 */
.vertical-bar {
  padding: 0;
  margin: 0px 5px 0px 5px;
  width: 1px;
  height: 70%;
  opacity: 50%;
  background-color: var(--color-text); /* 예제 proj css color, 중요 변수 아님 */
}

.icon-on {
  opacity: 100%;
  color: lightgoldenrodyellow;
}
.icon-off {
  opacity: 30%;
}
.icon-off:hover {
  opacity: 100%;
}

.icon-box {
  width: 24px;
  height: 24px;
}

.toolbar {
  background-color: royalblue;
  height: var(--toolbar-height);
}
.toolbar .left-box {
  float: left;
  height: var(--toolbar-height);
  display: flex;
  padding-left: 10px;
  justify-content : left;
  align-items: center;
}
.toolbar .right-box {
  float: right;
  height: var(--toolbar-height);
  display: flex;
  justify-content : right;
  align-items: center;
}

.grid-container {
  overflow: auto;
}
.grid-container table { 
  border-collapse: collapse;
  width: 100%; 
}
.grid-container table thead tr th {
  height: var(--thead-tr-height);
  background-color: #42b983;
  opacity: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
  color: lightgoldenrodyellow;
}
.grid-container table thead tr:nth-child(2) th {
  top: var(--thead-tr-height);
}
.grid-container table thead tr:nth-child(3) th {
  top: calc(var(--thead-tr-height) * 2);
}
.grid-container table thead tr:nth-child(4) th {
  top: calc(var(--thead-tr-height) * 3);
}
.grid-container table thead tr:nth-child(5) th {
  top: calc(var(--thead-tr-height) * 4);
}
.grid-container table thead tr th div {
  display: flex;
  justify-content : center;
  align-items: center;
}
.grid-container table tbody tr td div {
  display: flex;
  align-items: center;
}
.grid-container table tbody tr:nth-child(odd) td {
  background-color: rosybrown;
}
.grid-container table tbody tr:nth-child(even) td {
  background-color: lightslategrey;
}
.grid-container table tbody tr:hover td {
  background-color: rgb(155, 207, 255);
}
.grid-container table tbody tr td.selected {
  background-color: rgb(155, 207, 255);
}
.grid-container table tbody tr td.deleted {
  text-decoration: line-through;
}
.grid-container table tfoot tr td {
  background-color: #42b983;
  opacity: 100%;
  position: sticky;
  bottom: 0;
  z-index: 2;
}